* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: palevioletred;
}

h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
}

#map {
  width: 100%;
  height: 92vh;
}
